@using System.Security.Principal
@using Microsoft.AspNetCore.Http.Extensions
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<div>
    <ul id="messagelist" class="cheeps">
        @foreach (var cheep in Model.Cheeps)
        {
            <li>
                <p class="wrap">
                    <strong>
                        <a href="/@cheep.AuthorName">@cheep.AuthorName</a> <small>&mdash; @cheep.TimeStamp</small>
                        @if (User.Identity?.IsAuthenticated == true && cheep.AuthorName != User.Identity.Name)
                        {
                            List<AuthorDTO> following = Model.Following;
                            List<string> followingNames = following.Select(f => f.Name).ToList();
                            var name = User.Identity?.Name ?? "";

                            // check if the user is already following the author
                            @if (followingNames.Contains(cheep.AuthorName))
                            {
                                <form asp-page-handler="Unfollow" asp-route-followeeName="@cheep.AuthorName"
                                    asp-route-followerName="@name"
                                    asp-route-ReturnUrl="@Context.Request.GetEncodedPathAndQuery()"
                                    method="post"
                                >
                                    <input type="submit" value="Unfollow">
                                </form>
                            }
                            else
                            {
                                <form asp-page-handler="Follow" asp-route-followeeName="@cheep.AuthorName"
                                    asp-route-followerName="@name"
                                    asp-route-ReturnUrl="@Context.Request.GetEncodedPathAndQuery()"
                                    method="post"
                                >
                                    <input type="submit" value="Follow">
                                </form>
                            }

                        }
                    </strong>
                    @cheep.Message
                    @if (User.Identity?.IsAuthenticated == true && User.Identity.Name != null)
                    {
                        <div class="likes">
                            @if (cheep.Likes.Contains(User.Identity.Name))
                            {
                                <form asp-page-handler="Unlike" asp-route-cheep="@cheep.Id"
                                    asp-route-ReturnUrl="@Context.Request.GetEncodedPathAndQuery()"
                                    method="post">
                                    <input type="submit" value="❤️" class="like">
                                </form>
                            }
                            else
                            {
                                <form asp-page-handler="Like" asp-route-cheep="@cheep.Id"
                                    asp-route-ReturnUrl="@Context.Request.GetEncodedPathAndQuery()"
                                    method="post">
                                    <input type="submit" value="♡" class="like">
                                </form>
                            }
                            <span> 
                                @cheep.Likes.Count
                                @if (cheep.Likes.Count != 1)
                                {
                                    <span>likes</span>
                                }
                                else
                                {
                                    <span>like</span>
                                }
                            </span>
                        </div>
                    }
                </p>
            </li>
        }
    </ul>
</div>