@page "/user/info"
@model MyApp.Namespace.UserModel
@using System.Security.Principal
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Chirp!";
    Layout = "Shared/_Layout";
}

<div>
    <h2>See your info!</h2>

    <form asp-page-handler="Delete">
        <button class="danger" type="submit">Forget me!</button>
    </form>
    <p>Username: @(User.Identity?.Name)</p>
    <p>E-mail: @(Model.Mail)</p>


    @if (Model.Followees.Any())
    {
        <h3>Your followees:</h3>
        <ul id="messagelist" class="cheeps">
            @foreach (var author in Model.Followees)
            {
                <li>
                    <p class="wrap">
                        <strong>
                            <a href="/@author.Name">@author.Name</a>
                        </strong>
                        <!--check if the user is already following the author-->
						@if (Model.Followees.Select(f => f.Name).Contains(author.Name))
						{
							<form asp-page-handler="Unfollow" asp-route-followeeName="@author.Name"
								asp-route-followerName="@User.Identity?.Name" method="post">
								<input type="submit" value="Unfollow">
							</form>
						}
						else
						{
							<form asp-page-handler="Follow" asp-route-followeeName="@author.Name"
								asp-route-followerName="@User.Identity?.Name" method="post">
								<input type="submit" value="Follow">
							</form>
						}
                    </p>
                </li>
            }
        </ul>
    }
    else
    {
        <em>You do not follow anyone.</em>
    }


    @if (Model.Cheeps.Any())
    {
        <h3>Your cheeps:</h3>
        <ul id="messagelist" class="cheeps">
            @foreach (var cheep in Model.Cheeps)
            {
                <li>
                    <p class="wrap">
                        <strong>
                            <a href="/@cheep.AuthorName">@cheep.AuthorName</a>
                        </strong>
                        @if (cheep.AuthorName != User.Identity?.Name)
							{
								// check if the user is already following the author
								@if (Model.Followees.Select(f => f.Name).Contains(cheep.AuthorName))
								{
									<form asp-page-handler="Unfollow" asp-route-followeeName="@cheep.AuthorName"
										asp-route-followerName="@User.Identity?.Name" method="post">
										<input type="submit" value="Unfollow">
									</form>
								}
								else
								{
									<form asp-page-handler="Follow" asp-route-followeeName="@cheep.AuthorName"
										asp-route-followerName="@User.Identity?.Name" method="post">
										<input type="submit" value="Follow">
									</form>
								}
							}
                        @cheep.Message
                        <small>&mdash; @cheep.TimeStamp</small>
                    </p>
                </li>
            }
        </ul>
        @await Html.PartialAsync("_PageNavigation")
    }
    else
    {
        <em>You have made no cheeps so far.</em>
    }
</div>